* {box-sizing: border-box;
margin: 15px auto;} 



h3 {text-align: center;
    border-radius: 15px;
    min-width: 200px;
    max-width: 600px;
    background-color: rgba(75, 75, 74, 0.753);
    font-size: 22px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

.maingrid p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    min-width: 300px;
    max-width: 600px;
    width: 600px;
}

header {position: relative;
width: 100%;
border-radius: 15px;
z-index: 10;
margin-top: 0%;
border: 2px solid gray;
background-color: rgba(75, 75, 74, 0.75);
}

li {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
min-width: 300px;
max-width: 600px;
width: 600px;}

.me {
    min-width: 200px;
    max-width: 500px;
    border-radius: 50px;
    border: 5px solid black;
    height: 200px;
    width: 200px;
    margin-left: 39%;
}

.name, .profile {color: rgb(0, 0, 0);
margin: 0 auto;
text-align: center;}
